<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}BizRay{% endblock %}</title>

  <!-- Fonts & CSS -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-plot-listing.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animated.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.css') }}">
</head>

<body>

  <!-- Preloader -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span><span></span><span></span>
      </div>
    </div>
  </div>

  <!-- Header -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
              <a href="{{ url_for('main.index') }}" class="logo">
              <img src="{{ url_for('static', filename='img/BR_logo.png') }}" alt="BizRay">
            </a>
            <!--<a href="{{ url_for('main.index') }}" class="logo">BIZRAY </a>-->
            <ul class="nav">
              <!--<li><a href="{{ url_for('main.index') }}">Home</a></li>-->
              <!-- <li><a href="{{ url_for('main.search_results') }}">Results</a></li>-->
              <!--<li><a href="#">Contact</a></li>-->
              <li>
                <div class="main-white-button">
                  <a href="{{ url_for('main.index') }}"></i> Back to search</a>
                </div>
              </li>
            </ul>
            <a class='menu-trigger'><span>Menu</span></a>
          </nav>
        </div>
      </div>
    </div>
  </header>


  <!-- Main Content -->
  <main>
    {% block content %}{% endblock %}
  </main>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <!-- Footer content here (same as your provided footer) -->
        <!-- ... -->
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/owl-carousel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/animation.js') }}"></script>
  <script src="{{ url_for('static', filename='js/imagesloaded.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

</body>
</html>